body {
  font-family: "Katibeh", cursive;
  font-size: x-large;
}
.side {
  left: 0%;
  right: 4%;
}
.main {
  margin: 0 auto 0 0;
}
.pTitle {
  text-align: right;
}
.text {
  text-align: right;
  margin: 0 3vw 0 0;
}
.two {
  margin: 0 0 0 3vw !important;
}
.btn {
  font-size: 17px;
}
li a {
  padding: 3.5vh;
}
.skill {
  text-align: right;
}

.change {
  direction: ltr;
}
